body{
  text-align:center;
}

div.header{
    background-image:url("../images/the-flatiron-building.png");
}
h1{
  font-family: Helvetica;
  font-size: 70px;
  font-weight:bold;
  color:white;
}

h4.navigation{
font-family:Helvetica;
font-size: 18px;
color:white;
}
