body{
  text-align:center;
}

.header{
    background-image:url("../images/the-flatiron-building.png");
background-size: cover;
}
h1{
  font-family: Helvetica;
  font-size: 70px;
  font-weight:bold;
  color:white;
}

.navigation{
font-family:Helvetica;
font-size: 18px;
color:white;
}

h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

.process{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

.comment{
  font-family: Helvetica;
  font-size:14px;
}

.designed{
  background-image:url("../images/the-flatiron-building.png");
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color:white;
}
